body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Architects Daughter', 'Indie Flower', 'Parisiene', 'Tangerine', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader:empty{
  background: blue;
}